<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Upload an image</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for msg in messages %}
                <span class="alert alert-danger text-block">{{msg}}</span>

                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Select image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="file" id="file">
                        <label class="custom-file-label" for="file">Select image...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>